<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />-->
<head id="Head1" runat="server">
    <title></title>
    <link href="static/css/maincss.css" rel="stylesheet" type="text/css" />
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <script src="./static/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="./static/js/sign.min.js" type="text/javascript"></script>
    <style type="text/css">
        html,body
        {
            height: 100%;
        }
        *{
            margin:0;padding:0;
        }
        ul,li{list-style:none}
    </style>
</head>
<body>
    <div class="head">
        <div class="head-left">
            <p>MYWORD</p>
        </div>
        <div class="head-right">
            <span class="navbar fl"></span>
            <span class="msg fr"></span>
            <span class="rings fr"></span>
            <span class="mark fr"></span>
            <span class="avatar-sm fr">Levi</span>
            <span class="set fr"></span>
        </div>
    </div>
    <div class="menu" id="menu">
        <div class="m-left">
            <div class="search">
                <form method="post" action="/search">
                   <input name="word" type="text" placeholder="Search...">
                    <span></span>
                </form>
            </div>
            <p class="m-hd">菜单</p>
            <div class="m-sel">查询 <span class="tog fr">v</span></div>
            <ul class="sel-fun ">
                <li class="single active"><a href="/" target="_self"><i class="cyl"></i>单词查询</a></li>
                <li class="list"><a href="/list" target="_self"><i class="cyl"></i>列表查询</a></li>
            </ul>
        </div>
        <div class="m-right">
            <div class="single">
                <h5>单词查询</h5>
                <div class="tips">
                    <h4>每日一语</h4>
                    <p>生活是一个积累的过程！过去的我们不能改变，把握当前，珍惜当下，过好今天，成就明天</p>
                </div>
                <form class="sel" action="/search" method="post">
                    单词 <input type="text" name="word"  placeholder="请输入需要查询的单词">
                    <br><button type='submit' class="sub fr">查询</button>
                </form>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        console.log($('.sel input').val())
        $('.m-sel .tog').click(function() {
            $('.sel-fun').toggle();
        });
        $('.sel-fun li').click(function() {
            $(this).addClass('active').siblings().removeClass('active');
        });
        <!--$('.sub').click(function(){-->
            <!--data={-->
                <!--word:$('.sel input').val(),-->
                <!--sign:hash($('.sel input').val(), "320305.131321201" ),-->
                <!--token:"b11f5df389c7a5bf46ed904909dceca0"-->
            <!--};-->
            <!--$.ajax({-->
                <!--type:"post",-->
                <!--url:"/search",-->
                <!--data:data,-->
                <!--success:function(data){-->
                    <!--console.log(data);-->
                <!--},-->
                <!--error:function(err){-->
                    <!--console.log(err);-->
                <!--}-->
            <!--})-->
        <!--})-->


    </script>
    </form>
</body>
</html>